<%- include('partials/header.ejs') %>
<div class="container">
    <img style="width: 90vw" src="<%-imgUrl%>" alt="">
    <h3>Description:</h3>
    <h4><%=description%></h4>
    <a class="btn btn-primary" href="<%-link%>">Go to main page!</a>
</div>
<%- include('partials/footer.ejs') %>